<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full h-screen bg-zinc-900 text-white p-8">
        <h1 class="text-3xl mb-5">Upload File</h1>
        <!--for using multer ,in form tag==>enctype="multipart/form-data" must be there-->
        <form action="/uploadFile" method="post" enctype="multipart/form-data">
            
            <input type="file" name="image" >

            <input type="submit" value="Login account" class="p-2 bg-blue-500 rounded-lg">
        </form>
    </div>

</body>
</html>